/* Customized header */

.logo__img {
    border-radius: 50%;
    border: 2px solid #2a2a2a;
}

/* Rounded corners for badges */

.btn, .tags__badge, .tags__item {
    border-radius: 5px;
}

/* Horizontal scrollbar for long equations */

.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}
